// Cristal Connect Local Centre example file
// Copy this and change things

// This name appears on the login box of the Swing UI
Name=Example Cristal Server
Logo=http://path.to/image

// Item server network config
ItemServer.name=HOSTNAME
ItemServer.iiop=1500
ItemServer.Proxy.port=1553
ItemServer.Console.port=8080

// LDAP config (if LDAP Lookup is used)
LDAP.GlobalPath=LDAPROOTPATH
LDAP.RootPath=cn=cristal
LDAP.LocalPath=cn=dev
LDAP.port=389
LDAP.host=LDAPHOSTNAME
LDAP.user=LDAPROOTUSER
LDAP.password=LDAPPASSWORD
